# Argo CD Credentials & Access
ARGOCD_SERVER_URL=https://localhost:8080
ARGOCD_USERNAME=admin
ARGOCD_PASSWORD=your_argocd_admin_password_here
ARGOCD_NAMESPACE=argocd

# Platform & GKE Context
GCP_PROJECT_ID=sbx-workload-poc-508107
GCP_REGION=asia-southeast1
GKE_CLUSTER_NAME=platform-dev-gke
