export TS_ENV=dev
export GOOGLE_PROJECT=sbx-workload-poc-508107
export GOOGLE_REGION=asia-southeast1
export TS_STATE_BUCKET=sbx-workload-poc-508107-tfstate
# Terraspace 2.2.20 gates Terraform releases newer than 1.5.7.
export TS_VERSION_CHECK=0
